<div class="footer">
    <div class="footer-content">
        <h1>Recipology</h1>
        <a href='@Url.Action("Index", "Home")' class="btn btn-primary">Home</a>
        <a href='@Url.Action("Create", "Recipes")' class="btn btn-primary">Add a Recipe</a>
    </div>
</div>