.recipe {
    border: 5px solid black;
    border-radius: 10px 10px;
    padding: 5px;
    margin: 5px;
}

.footer {
    background-color: black;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0;
}

.footer-content {
    color: white;
    margin: 10px;
}

.footer-content .btn-primary {
    color: black;
    background-color: white;
    font-weight: bold;
}