.footer {
    background-color: black;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0;
}

.footer-content {
    color: white;
    margin: 10px;
}

.footer-content .btn-primary {
    color: black;
    background-color: white;
    font-weight: bold;
}