@{
    ViewData["Title"] = "My CookBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Recipology.Models.Recipe>
<ul>
@foreach(var recipe in Model)
{
    <li>@recipe.Name</li>
}
</ul>