@{
    ViewData["Title"] = "My CookBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Recipology.Models.Recipe>
<div class="cookbook">
    <h3>@User.Identity.Name's Cookbook</h3>
    <ul>
    @foreach(var recipe in Model)
    {
        <li>@recipe.Name</li>
    }
    </ul>
</div>