@{
    ViewData["Title"] = "My CookBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Recipology.Models.Recipe>
<div class="cookbook">
    <h3>@User.Identity.Name's Cookbook</h3>
    <div class="cookbook-entry">
        <ul>
            @foreach (var recipe in Model)
            {
                <li>@recipe.Name <a class="btn btn-primary" href='@Url.Action("Detail", "Recipes", new { id = recipe.RecipeId })'>Recipe Detail</a></li>
            }
        </ul>
    </div>
</div>