@{
    ViewData["Title"] = "Recipe Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="recipe-detail">
    <h1>@Model.Name</h1>
    <h5>@Model.Description</h5>
    <h6>@Model.Ingredients</h6>
</div>